.navbar {
  background-color: rgba(52, 58, 64, 0.5);
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.navbar-brand {
  color: #ffffff;
  font-size: 1.5rem;
  transition: transform 0.2s;
  &:hover {
    color: #f8f9fa;
    transform: scale(1.1);
  }
}

.nav-link {
  color: #ffffff;
  margin-right: 1rem;
  transition: transform 0.2s;
  &:hover {
    color: #f8f9fa;
    transform: scale(1.1);
  }
}

.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.1);
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
}

.collapse {
  justify-content: flex-end;
}

.container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}